%div{:class => "center jumbotron homepage standard"} 
  - @products.each do |product|
    = link_to "#{product.name} (#{product.price}zł)", product.paypal_url(root_url)
    %br
    %p="Wydałeś na to: #{product.sum_money}"

  %p="Łącznie: #{@all_sum}"
